@page
@model OrderSystemApp.Pages.Products.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 style="display: flex; width: 50%;">New Product</h1>

<form method="POST">
    <div class="edit-form-buttons" style="width: 13%;">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-page="./Index"><button type="button" class="btn btn-secondary">Cancel</button></a>
    </div>

    <div class="main-container">
        <div style="display: flex; flex-direction: column">
            <div class="order-header-information" style="display: flex; width: 100%;">
                <div class="new-order-left" style="width: 70%">
                    <table class="primary-information-table" style="width: 100%; margin: auto">
                        <tr class="primary-information-table-row" style="width: 100%;">
                            <td style="width: 50%">
                                <div style="text-align: left">
                                    <label asp-for="Product.Name" class="control-label"></label>
                                    <input asp-for="Product.Name" class="form-control" />
                                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                                </div>
                            </td>
                            <td style="width: 50%">
                                <div style="text-align: left">
                                    <label asp-for="Product.Description" class="control-label"></label>
                                    <input asp-for="Product.Description" class="form-control" />
                                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="primary-information-table-row" style="width: 100%;">
                            <td style="width: 50%">
                                <div style="text-align: left">
                                    <label asp-for="Product.Rate" class="control-label"></label>
                                    <input asp-for="Product.Rate" class="form-control" placeholder="10.99" />
                                    <span asp-validation-for="Product.Rate" class="text-danger"></span>
                                </div>
                            </td>
                            <td style="width: 50%">
                                <div style="text-align: left">
                                    <label>Tax Rate</label>
                                    <input asp-for="Product.TaxRateString" class="form-control" placeholder="10%" />
                                    <span asp-validation-for="Product.TaxRateString" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
