@page
@using OrderSystemApp.Models
@model OrderSystemApp.Pages.Customers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 style="display: flex; width: 35%;">New Customer</h1>
<form method="POST">
    <div class="edit-form-buttons" style="width: 13%;">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-page="./Index"><button type="button" class="btn btn-secondary">Cancel</button></a>
    </div>

    <div class="main-container">
        <div style="display: flex; flex-direction: column">
            <div class="order-header-information" style="display: flex; width: 100%;">
                <div class="new-order-left" style="width: 70%">
                    <table class="primary-information-table" style="width: 100%; margin: auto">
                        <tr class="primary-information-table-row" style="width: 100%;">
                            <td style="width: 33%">
                                <div style="text-align: left">
                                    <p style="font-weight: bold">First Name</p>
                                    <input asp-for="Customer.FirstName" class="form-control" />
                                    <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
                                </div>
                            </td>
                            <td style="width: 33%">
                                <div style="text-align: left">
                                    <p style="font-weight: bold">Email</p>
                                    <input asp-for="Customer.Email" class="form-control" />
                                    <span asp-validation-for="Customer.Email" class="text-danger"></span>
                                </div>
                            </td>
                            <td style="width: 33%">
                                <div style="text-align: left">
                                    <p style="font-weight: bold">Address</p>
                                    <input asp-for="Customer.Address" class="form-control" />
                                    <span asp-validation-for="Customer.Address" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr class="primary-information-table-row">
                            <td>
                                <div style="text-align: left">
                                    <p style="font-weight: bold">Last Name</p>
                                    <input asp-for="Customer.LastName" class="form-control" />
                                    <span asp-validation-for="Customer.LastName" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div style="text-align: left">
                                    <p style="font-weight: bold">Phone #</p>
                                    <input asp-for="Customer.Phone" class="form-control" />
                                    <span asp-validation-for="Customer.Phone" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>